<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}AnimalBook{% endblock %}</title>

    {% block stylesheets %}
      {# On charge le CSS de bootstrap depuis le site directement #}
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% endblock %}
  </head>

  <body>
  <div class="container">
    <div id="header" class="jumbotron">
      <h2>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                Connecté en tant que {{ app.user.username }}
            {% else %}
                Pas encore connecté
            {% endif %}
        </h2>
      <p>
        Bienvenue à notre Site
      </p>
      <p>
        
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a class="btn btn-primary btn-lg" href="{{ path('fos_user_security_logout') }}">
          Logout
        </a>
        {% else %}
          <a class="btn btn-primary btn-lg" href="{{ path('fos_user_security_login') }}">
          Login
          </a>
         <a class="btn btn-primary btn-lg" href="{{ path('fos_user_registration_register') }}">
          Register
        </a>
        {% endif %} 
      </p>
    </div>

    <div class="row">
      <div id="menu" class="col-md-3">
        <h3>Menu</h3>
        <div class="list-group">
            <a href="{{ path('ap_core_homepage') }}" class="list-group-item">Accueil</a>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href="{{ path('fos_user_profile_show') }}" class="list-group-item">Afficher Profile</a></li>
                <a href="{{ path('fos_user_profile_edit') }}" class="list-group-item">Modifier Profile</a></li>
                <a href="{{ path('ap_user_friends') }}" class="list-group-item">Mon enclos</a></li>
            {% endif %}
        </div>
      </div>
      <div id="content" class="col-md-9">
        {% block body %}
        {% endblock %}
      </div>
    </div>

    <hr>

    <footer>
      <p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>
    </footer>
  </div>

  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% endblock %}

  </body>
</html>
